.movie-card {
  height: 445px;
  position: relative;
  width: 300px;
}

.c {
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.movie-card header {
  align-items: flex-end;
  background-color: white;
  display: flex;
  height: 100px;
  padding: 16px;
}

.movie-card h2 {
  font-size: 1.5em;
  margin: 0;
}
