html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f0f0f0;
}

.poster-wall {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: 100%;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}
