.card {
  --card-padding: 16px;

  color: rgb(240, 240, 240);
  height: 445px;
  width: 300px;
}

[class^="card__face--"] {
  border-radius: 16px;
}

.card__face--front,
.card__face--back {
  background-size: cover;
}

.background,
.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  filter:
    brightness(0.666)
    blur(2px)
  ;
  transform: scale(-1);
  z-index: 1;
}

.foreground {
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
}

.card header {
  align-items: flex-end;
  display: flex;
  height: 100px;
  padding: var(--card-padding);
}

.card h2 {
  font-size: 1.5em;
  margin: 0;
  text-shadow:
    0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 4px rgba(0,0,0,0.5)
  ;
}

.card dl {
  flex-grow: 1;
  font-weight: 700;
  padding: var(--card-padding);
  overflow-y: scroll;
}

.card * + dt {
  margin-top: 1em;
}