.card {
  position: relative;
}

[class^="card__face--"] {
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform, opacity;
}
